<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.w3-top {background-color: #95103b;}
.w3-third {color: #95103b;}
.w3-container2 { background-color: #a2113f;}
.fa-anchor,.fa-coffee {font-size:200px}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
</style>
<body>
  <div class="wrapper row0">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="one_quarter first">
        <h1><a href="/templates/wavefire.html"><span>DMP</span>roject</a></h1>
      </div>
      <div class="three_quarter">
        <ul class="nospace clear">
          <li class="one_third first">
            <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
          </li>
          <li class="one_third">
            <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
          </li>
          <li class="one_third">
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </header>
  </div>

<!-- Navbar -->
<div class="wrapper row1">
  <section class="hoc clear"> 
    <!-- ################################################################################################ -->
    <nav id="mainav">
      <ul class="clear">
        <li><a href="/">Home</a></li>
        <li  class="active"><a href="demo">Fact Checker</a></li>
        <li><a href="gallery">Gallery</a></li>
        <li><a href="admin">Admin</a></li>
      </ul>
    </nav>
</section>
</div>
<!-- Header -->
<header class="w3-container2 w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo" style="color: #f8f8f8;">Enter a Query</h1>
  <p class="w3-xlarge" style="color: #f8f8f8;">We will check it for you :)</p>

<form action="/submit" class="submit-review" id="textform" method="post">
    <label for="exampleReviewText"></label>
    <textarea style="align-items: center;" class="form-control" id="exampleReviewText" name="content" rows="4" cols="50" placeholder="Write your query here...(Max 2000 characters)" maxlength="2000" style="margin: 0px; width: 518px; height: 235px;" required="required"></textarea>
    <br><br>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit">Submit</button>
</form>
</header>
{%for i in range(0, len, 2)%}        

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Claim #{{i+1}}</h1>
      <h5 class="w3-padding-32">{{key_list[i]}}</h5>

      <p class="w3-text-grey">{{val_list[i]}}</p>
    </div>

    <div class="w3-third w3-center">
      <i class="w3-padding-64  w3-margin-right"><span style='font-size:200px;'>&#9756;</span></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="w3-padding-64 w3-margin-right"><span style='font-size:200px;'>&#9758;</span></i>
    </div>

    <div class="w3-twothird">
      <h1>Claim #{{i+2}}</h1>
      <h5 class="w3-padding-32">{{key_list[i+1]}}</h5>

      <p class="w3-text-grey">{{val_list[i+1]}}</p>
    </div>
  </div>
</div>
{% endfor %}
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">There is always light at the end of a tunnel</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>A project for the Disaster Management course <a href="https://github.com/anushkawakankar/Disaster-Management-Project" target="_blank">Github</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
